@import "text.css";
@import "navigation.css";

html {
  background-color: #f0f0f0;
  color: #364047;
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

* {
  box-sizing: border-box;
}


.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tag {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-size: .75em;
  background-color: #36404710; 
  color: #98971a;
}

.tag a {
  display: block;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  color: #98971a;
  font-size: 1rem;
  text-transform: lowercase;
}

/* YouTube Video */
.youtube-vid {
  padding: 1em 0;
}

/* Columns */
#cards {
  display: flex;
  flex-wrap: wrap;
}

#card {
  flex: 1;
  background-color: #36404710; 
  margin: 0 1.5em 0 0;
  padding: .25em 1em .25em;
} 