---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
const identity = {
	firstName: "Anthony",
	lastName: "Ongaro",
	occupation: "Software Engineer",
	hobbies: ["cacti cultivation", "rope flow", "making music"]
};
const skills = ["HTML", "CSS", "Ruby", "Rails", "PostgreSQL"];
const learning = ["JavaScript", "Python"];

const happy = true;
const finished = false;
const goal = 3;
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    I'm a {identity.occupation} with a background in creative entrepreneurship, writing, and nonprofit marketing. Currently studying back-end software engineering at Turing School of Software & Design's ACCET-accredited program.<br>
  </p>
  <p>
    <ul>
      <li>🌱 I've spent the last 7 years making videos, writing, and building on the web</li>
      <li>📖 I read about philosophy, habits, coding, and everything from 3D printing to cacti cultivation</li>
      <li>💬 Tell me your favorite vim motions, project ideas, and anything you're passionate about</li>
    </ul>
  </p>
  <b>My Current Skills:</b>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  <b>I'm Learning:</b>
  <ul>
    {learning.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>