<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AJOngaro | Notes on Software Engineering & Related Topics</title>
	</head>
	<body>
		<h1>About</h1>
    <p>
      I'm a software engineer with a background in creative entrepreneurship, writing, and nonprofit marketing. Currently studying back-end software engineering at Turing School of Software & Design's ACCET-accredited program.<br>
      Connect with me on LinkedIn!<br>
    </p>
    <p>
      <ul>
        <li> 🌱 I've spent the last 7 years making videos, writing, and building on the web </li>
        <li>🔭 Currently coding apps with Ruby, Rails, PostgreSQL, HTML, CSS using RESTful routes & exploring Python/JS</li>
        <li>📖 I love reading about philosophy, habits, coding, and everything from 3D printing to cacti cultivation</li>
        <li>💬 Tell me your favorite vim motions, project ideas, and anything you're passionate about</li>
      </ul>
    </p>
	</body>
</html>