---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Projects';
---
<BaseLayout pageTitle={pageTitle}>
Descriptions of projects coming soon. It's gonna rock.<br>
For now, check out my <a href="https://www.github.com/ajongaro">GitHub Profile</a>.
</BaseLayout>