---
import Social from './Social.astro';

---
<footer>
  <Social platform="github" username="ajongaro"/>
  <Social platform="linkedin" username="/in/ajongaro"/>
  <Social platform="youtube" username="@anthonycodes"/>
</footer>
  <p class="social">Made with ☀️ in Phoenix, AZ</p>

